/ПП/node_modules
/webpackExample/node_modules
/webpackExampleConf/node_modules
/webpackExampleModules/node_modules
/React_Project_1/node_modules
/React_Project_2/node_modules
/React_Project_3/node_modules
/React_Project_4/node_modules
/React_Test/node_modules